<div class="text-center">
    <h2 class="mb-4">Register</h2>

    <form class="mb-4" [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="mb-4">
            <input class="text-center bg-transparent border rounded py-2 px-4" type="email" placeholder="Email"
                formControlName="email" />
        </div>
        <div class="mb-4">
            <input class="text-center bg-transparent border rounded py-2 px-4" type="text" placeholder="Name"
                formControlName="name" />
        </div>
        <div class="mb-4">
            <input class="text-center bg-transparent border rounded py-2 px-4" type="password" placeholder="Password"
                formControlName="password" />
        </div>
        <div class="mb-4">
            <input class="text-center bg-transparent border rounded py-2 px-4" type="password" placeholder="Password Confirm"
                formControlName="password_confirm" />
        </div>
        <div>
            <button type="submit"
                [disabled]="!registerForm.valid"
                class="bg-teal-600 py-2 px-4 rounded hover:bg-teal-700
                       disabled:opacity-50 disabled:pointer-events-none">Register</button>
        </div>
    </form>

    <p class="text-sm">
        or <a class="text-teal-600"
            routerLink="/auth/login">Login</a>
    </p>

</div>
